

<div class="booyah-box col-4">
<h1>Join a Game</h1>

<% @games.available.each do |game| %>
    <% if game.white_player %>
    <%= game.name + "'s game" %>
    <% elsif game.black_player %>
      <%= game.name + "'s game" %>
    <% end %>
<% end %>
</div>
