<div>

  <h1><%= @user.email %></h1>
  <h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>



  <div class="booyah-box col-4 offset-4">
    <h1>Game History</h1>

    <% @game.each do |game| %>
      <% if (game.black_player_id == @user.id) || (game.white_player_id == @user.id) %>
        Game ID: <%= game.id  %>  -
        <%= game.created_at.strftime("%B %d, %Y") %>
        <br />
        <br />
      <% end %>
    <% end %>
  </div>
</div>
