<h1>This will show all of our games!</h1>
  <% @games.each do |game| %>
    <div>
      <%= game.name %>
    </div>

  <% end %>

<div class="chess-board-render">
	<div class="squares-row">
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
	</div>

	<div class="clear-floaters"><div>

	<div class="squares-row">
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
	</div>

	<div class="clear-floaters"><div>

	<div class="squares-row">	
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
	</div>

	<div class="clear-floaters"><div>

	<div class="squares-row">
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
	</div>

	<div class="clear-floaters"><div>

	<div class="squares-row">
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
	</div>

	<div class="clear-floaters"><div>

	<div class="squares-row">
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
	</div>

	<div class="clear-floaters"><div>

	<div class="squares-row">	
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
	</div>

	<div class="clear-floaters"><div>

	<div class="squares-row">
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
		<div class="board-square black"></div>
		<div class="board-square white"></div>
	</div>

	<div class="clear-floaters"><div>
</div>