<% if !@game.forfeiting_player_id.nil? %>
	<%= controller.redirect_to root_path, alert: "This game has already been forfeited." %>
<% end %>

<div class="chess-board-render">
	<% tile_color = 1 %>

	<% 0.upto(7) do |y| %>
		<div class="board-row">

			<% 0.upto(7) do |x| %>
				<% tile_color = (tile_color == 0 ? 1 : 0) if x > 0 %>

				<div class="board-square <%= tile_color == 0 ? 'black': 'white' %>">

				<!-- loop through every position on the board and look up the piece that's there from @piece_positions -->

				<% piece = @pieces_by_position["#{x}, #{y}"] %>

				<% if piece %>
					<% svg_data = @game.get_svg_data_string(piece, x, y, 45, asset_path('Chess_Pieces_Sprite.svg')) %>
						<%= link_to select_path( :piece_id => piece.id, :x_pos => piece.x_pos, :y_pos => piece.y_pos ) do %>
							<img src="<%=svg_data%>" class="svg-piece-display">
						<% end %>
					<% end %>
				</div>
			<% end %>

		</div>
	<% end %>
</div>
