// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$square-border-color-light: #bebebe;
$square-border-color-dark: #858585;

$square-side-vmin-length: 11vmin;

$board-length: calc(square-side-vmin-length * 8);

.board-square {
	height: $square-side-vmin-length;
	width: $square-side-vmin-length;

	float: left;

	border-width: .25vmin;
	border-style: solid;

	border-top-color: $square-border-color-light;
	border-left-color: $square-border-color-light;

	border-bottom-color: $square-border-color-dark;
	border-right-color: $square-border-color-dark;

	&.black {
		background: black;
		color: white;
	}
	&.white {
		background-color: white;
		color: black
	}
}

.chess-board-render {
	min-width: board-length;
	min-height: board-length;
	flex-direction: column;
}

.chess-board-render, .board-row {
	display: flex;
	justify-content: center;
}

.clear-floaters {
	clear: both; 
}

.board-row {
	flex-direction: row;
}

/////////////// Temporary background color

body {
	background-color: darkgray !important;
}